{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
    <h1 class="text-center">Nos produits</h1>
    <div class="row">
        <div class="col-md-3">
            <h2>Filtrer</h2>
                {{ form(form) }}
        </div>
        <div class="col-md-9">
            <div class="row product_container">
            {% for product in products %}
                <div class="product_card col-md-4">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
