{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1>Page d'inscription</h1>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    {{ form(form) }}

{% endblock %}
