{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    
    <div class='row'>
        <div class='col-md-8'>
            {{ form(form) }}
        </div>
        <div class='col-md-4 mt-5 pt-5 mb-5 text-center'>
            <div>
                <h3>MossHeaven</h3>
                <p>23 allée des merisiers</p>
                <p>44600</p>
                <p>Saint-Nazaire</p>
            </div>
            <div class="mt-5 pt-5">
                <i class="fa fa-phone"></i>&nbsp;-&nbsp;06 51 xx xx xx
            </div>
        </div>
    </div>
{% endblock %}
