{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block content %}
    <div class="block_small">
        <h2>Erreur 500 : Une erreur s'est produite au niveau du serveur.</h2>
        <a href="{{ path('app_home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div>
{% endblock %}
